<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Healthy advice for obesity BMI">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap" rel="stylesheet">

    <title>BMI Advice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stlye.css') }}">

</head>
<body>
    <header>
        <h1>🥳정상🎉</h1>
        <p>당신은 지금 최고의 상태에 있습니다. 이 건강한 삶을 계속 이어가길 응원합니다!</p>
    </header>
    <main>
        <section class="advice-section">
            <h2>NOT Dangerous🚨</h2>
            <ul>
                🎉🎉🎉🎊🎊🎊🥳🥳🥳🎈🎈🎈🏆🏆🏆😊😊😊💃💃💃💐💐💐🥂🥂🥂✨<br>
                🥳✨ 축하합니다! 지금처럼 운동 열심히 하시고 밥 맛있게 드시고 체중 관리만 해주세요 ㅎㅎ🏆✨<Br>
                🎉🎉🎉🎊🎊🎊🥳🥳🥳🎈🎈🎈🏆🏆🏆😊😊😊💃💃💃💐💐💐🥂🥂🥂✨

            </ul>
        </section>
 
    </main>
    <footer>
        <p>&copy; SBL lab</p>
    </footer>
</body>
</html>